<template>
  <d2-container>
    <el-row :gutter="20">
      <el-col :span="2">
        <el-button type="success" @click="newVisible=true" size="mini">新增</el-button>
      </el-col>
      <el-col :span="2">
        <el-button type="success" @click="importData" size="mini">批量导入</el-button>
      </el-col>
      <el-col :span="8">
        <el-input v-model="searchPeople" placeholder="人员搜索" size="mini" clearable suffix-icon="el-icon-search" @change="onSearch"></el-input>
      </el-col>
      <el-col :span="8">
        <el-select v-model="remindTime" placeholder="设置提醒时间" size="mini" clearable @change="onTimeChange">
          <el-option
            v-for="item in timeOptions"
            :key="item.value"
            :value="item.value">
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px;">
      <el-card>
        <el-table :data="userList">
          <el-table-column prop="userId" label="ID" width="100"></el-table-column>
          <el-table-column prop="userName" label="姓名" width="100">
          </el-table-column>
          <el-table-column prop="account" label="账号" width="100">
          </el-table-column>
          <el-table-column prop="phone" label="联系方式">
          </el-table-column>
          <el-table-column prop="email" label="邮箱">
          </el-table-column>
          <el-table-column label="操作" >
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="edit(scope.row)" >修改</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="del(scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>

    </el-row>
    <el-dialog
      title="新增员工"
      :visible.sync="newVisible"
      width="30%">
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="姓名">
          <el-input v-model="form.name" size="mini" ></el-input>
        </el-form-item>
<!--        <el-form-item label="值班模块">-->
<!--          <el-input v-model="form.platform" size="mini" ></el-input>-->
<!--        </el-form-item>-->
        <el-form-item label="联系电话">
          <el-input v-model="form.phone" size="mini" ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="success" size="mini" @click="submit">提 交</el-button>
        <el-button @click="newVisible = false" size="mini">取 消</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="修改员工"
      :visible.sync="editVisible"
      width="30%">
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="id">{{form.userId}}</el-form-item>
        <el-form-item label="账号">{{form.account}}</el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="form.userName" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="账号">
          <el-input v-model="form.account" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="联系方式">
          <el-input v-model="form.phone" size="mini"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="form.email" size="mini"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="submit">提 交</el-button>
        <el-button @click="editVisible = false" size="mini">取 消</el-button>
        </span>
    </el-dialog>
  </d2-container>
</template>

<script>
// import axios from 'axios'
export default {
  name: '',
  data () {
    return {
      newVisible: false,
      editVisible: false,
      searchPeople: '',
      remindTime: '',
      searchDate: '',
      selectTime: '',
      // selectMethod: '1',
      form: {
        name: '',
        account: '',
        phone: '',
        email: ''
      },
      methodOptions: [{
        value: '短信'
      }, {
        value: '电话'
      }],
      timeOptions: [{
        value: '半小时前'
      }, {
        value: '一小时前'
      }],
      userList: [{
        userId: '1',
        account: 'zhangsan',
        name: '张三',
        platform: 'NB',
        phone: '911-1279121',
        email: 'jbvdfu23g@qq.com',
        method: '短信'
      }, {
        userId: '2',
        account: 'lisi',
        name: '李斯',
        platform: 'CMP+IT',
        phone: '1213-1279121',
        email: 'jbvdfu23g@qq.com',
        method: '电话'
      }, {
        userId: '3',
        account: 'wangwu',
        name: '王五',
        platform: 'DCP',
        phone: '212311279121',
        email: 'jbvdfu23g@qq.com',

        method: '短信'
      }]
    }
  },
  mounted () {
    this.getAllUser()
  },
  methods: {
    getAllUser () {
      this.$ajax.get('/api/user/getAll').then((response) => {
        console.log(response.data)
        this.userList = response.data.data
      })
    },
    onSearch () {
      console.log(this.searchPeople)
    },
    edit (row) {
      console.log(row)
      this.editVisible = true
      this.form = row
    },
    del (row) {
      console.log(row)
    },
    setTime () {},
    onMethodChange (row) {
      // console.log('omc')
      console.log(row)
    },
    submit () {
      // console.log('sub')
      console.log(this.form)
    },
    onTimeChange () {
      console.log(this.remindTime)
    },
    importData () {
    }
  }
}
</script>

<style scoped lang="scss">
.el_row+.el_row {
  margin-top: 20px;
}
</style>
