<template>
  <el-form
    :inline="true"
    :model="form"
    :rules="rules"
    ref="form"
    size="mini"
    style="margin-bottom: -18px;">

    <el-form-item>
      <el-button
        type="primary"
        @click="handleFormSubmit">
        新增
      </el-button>
    </el-form-item>

    <el-form-item>
      <el-button
        type="primary"
        @click="handleFormSubmit">
        导入
      </el-button>
    </el-form-item>

    <el-form-item>
      <el-button
        type="primary"
        @click="handleFormSubmit">
        刷新
      </el-button>
    </el-form-item>

    <div class="right">
      <el-form-item label="" prop="note">
        <el-input
          v-model="form.note"
          placeholder="备注"
          style="width: 120px;"/>
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          @click="handleFormSubmit">
          <d2-icon name="search"/>
          查询
        </el-button>
      </el-form-item>
    </div>

  </el-form>
</template>

<script>
export default {
  name: 'pageHeader',
  data () {
    return {
      form: {
        type: '1',
        user: 'FairyEver',
        key: '',
        note: ''
      },
      rules: {
        type: [{ required: true, message: '请选择一个状态', trigger: 'change' }],
        user: [{ required: true, message: '请输入用户', trigger: 'change' }]
      }
    }
  },
  methods: {
    handleFormSubmit () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.$emit('submit', this.form)
        } else {
          this.$notify.error({
            title: '错误',
            message: '表单校验失败'
          })
          return false
        }
      })
    },
    handleFormReset () {
      this.$refs.form.resetFields()
    }
  }
}
</script>

<style scoped lang="scss">
  @import '../../../assets/style/public-class.scss';
  .right {
    display: inline-block;
    float: right;
  }
</style>
