<template>
  <d2-container>
    <el-row style="margin-top: 20px;">
      <el-card>
        <el-table :data="workList">
          <el-table-column prop="beginTime" label="开始时间"></el-table-column>
          <el-table-column prop="endTime" label="结束时间"></el-table-column>
          <el-table-column prop="userName" label="姓名"></el-table-column>
          <el-table-column prop="job" label="值班模块"></el-table-column>
<!--          <el-table-column prop="schedule" label="班次"></el-table-column>-->
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="success"
                @click="startWork(scope.row)">接班</el-button>
              <el-button
                size="mini"
                type="primary"
                @click="endWork(scope.row)" >交班</el-button>

            </template>
          </el-table-column>

        </el-table>
      </el-card>
      <el-dialog
        title="确认交班"
        :visible.sync="endWorkVisible"
        width="30%">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="交班信息">
            <el-input v-model="form.jobContent" type="textarea" placeholder="请输入"></el-input>
          </el-form-item>
          <el-form-item label="问题">
            <el-input v-model="form.problem" type="textarea" placeholder="请输入"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="submitEnd">确认交班</el-button>
          <el-button @click="endWorkVisible = false">取 消</el-button>
        </span>
      </el-dialog>
      <el-dialog
        title="确认接班"
        :visible.sync="startWorkVisible"
        width="30%">
        <span>{{startWorkMsg}}</span>
        <span slot="footer" class="dialog-footer">
          <el-button type="success" @click="submitStart">确认接班</el-button>
          <el-button @click="startWorkVisible = false">取 消</el-button>
        </span>
      </el-dialog>
    </el-row>
  </d2-container>
</template>

<script>
// import axios from 'axios'

export default {
  name: 'page2',
  data () {
    return {
      endWorkVisible: false,
      startWorkVisible: false,
      endWorkMsg: '',
      startWorkMsg: '接班详情',
      workList: [],
      form: {}
    }
  },
  mounted () {
    this.getAllWork()
  },
  methods: {
    startWork (row) {
      console.log('接班', row)
      this.form = row
      this.startWorkVisible = true
    },
    endWork (row) {
      console.log('交班', row)
      this.form = row
      this.endWorkVisible = true
    },
    submitStart () {
      this.startWorkVisible = false
    },
    submitEnd () {
      this.$ajax.post('/api/shift/handOver', this.form).then((res) => {
        console.log(res)
        this.endWorkVisible = false
        if (res.data.result === 'success') {
          this.$message({
            message: '交班成功！',
            type: 'success'
          })
        } else {
          this.$error('交班失败。')
        }
      }).then(this.getAllWork)
    },
    getAllWork () {
      this.$ajax.get('/api/shift/query').then((response) => {
        console.log('res', response.data)
        this.workList = response.data.data
      })
    }
  }
}
</script>
