<template>
  <d2-container>
    <el-row :gutter="20">
      <el-col :span="8">
        <el-date-picker
          v-model="searchDate"
          type="date"
          size="mini"
          placeholder="选择日期">
        </el-date-picker>
      </el-col>
      <el-col :span="8">
        <el-input v-model="searchPeople" placeholder="人员搜索" suffix-icon="el-icon-search" size="mini"></el-input>
      </el-col>
      <el-col :span="8">
        <el-upload
          action=""
          :show-file-list="false"
          :on-change="importExcel"
          :auto-upload="false"
        >
          <el-button type="primary" size="mini">文件导入</el-button>
        </el-upload>
      </el-col>
    </el-row>
    <el-row style="margin-top: 20px;">
      <el-card>
        <el-table :data="workList">
          <el-table-column prop="beginTime" label="开始时间"></el-table-column>
          <el-table-column prop="endTime" label="结束时间"></el-table-column>
          <el-table-column prop="nb_name" label="NB网关"></el-table-column>
          <el-table-column prop="cmp_name" label="CMP+IT网络"></el-table-column>
          <el-table-column prop="dcp_name" label="DCP"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button @click="edit(scope.row)" size="mini" type="primary">修改</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>

    </el-row>
    <el-dialog
      title="修改值班"
      :visible.sync="showEdit"
      width="30%">
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="开始时间">{{ form.beginTime }}</el-form-item>
        <el-form-item label="结束时间">{{ form.endTime }}</el-form-item>

        <el-form-item label="NB网关">
          <el-select v-model="form.nb_id" placeholder="选择人员" size="mini" clearable @change="onTimeChange">
            <el-option
              v-for="item in userOptions"
              :key="item.value"
              :value="item.value"
              :label="item.label">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="CMP+IT网络">
          <el-select v-model="form.cmp_id" placeholder="选择人员" size="mini" clearable @change="onTimeChange">
            <el-option
              v-for="item in userOptions"
              :key="item.value"
              :value="item.value"
              :label="item.label">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="DCP">
          <el-select v-model="form.dcp_id" placeholder="选择人员" size="mini" clearable @change="onTimeChange">
            <el-option
              v-for="item in userOptions"
              :key="item.value"
              :value="item.value"
              :label="item.label">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="submit">提 交</el-button>
        <el-button @click="showEdit = false" size="mini">取 消</el-button>
      </span>
    </el-dialog>
  </d2-container>
</template>

<script>
// import axios from 'axios'
import XLSX from 'xlsx'

export default {
  name: 'work-manage',
  data () {
    return {
      selectPeopleNB: '',
      selectPeopleDCP: '',
      selectPeopleCMP: '',
      showEdit: false,
      searchPeople: '',
      form: {},
      searchDate: '',
      userList: [],
      userOptions: [],
      workList: []
    }
  },
  mounted () {
    this.getAll()
  },
  methods: {
    getAll () {
      this.$ajax.get('/api/work/query').then((response) => {
        console.log('res', response.data)
        this.workList = response.data
      })
    },
    async getUsers () {
      await this.$ajax.get('/api/user/getAll').then((response) => {
        console.log('res', response.data)
        this.userList = response.data
      })
    },
    importExcel (file, filelist) {
      console.log('importexl', file, filelist)
      const fileReader = new FileReader()
      fileReader.readAsBinaryString(file.raw)
      fileReader.onload = (ev) => {
        try {
          const data = ev.target.result
          const workbook = XLSX.read(data, {
            type: 'binary'
          })
          console.log('wwww', workbook)
          const sheet = Object.keys(workbook.Sheets)[0]
          const json = XLSX.utils.sheet_to_json(workbook.Sheets[sheet]) // 获得以第一列为键名的sheet数组对象
          console.log('json:', json)
          this.postData(json[0])
        } catch (e) {
          console.log(e)
        }
      }
    },
    onTimeChange () {
      console.log(this.remindTime)
    },
    async edit (row) {
      console.log('r', row)
      this.form = row
      this.showEdit = true
      await this.getUsers()
      console.log(this.userList)
      this.userOptions = this.userList.map(item => { return { value: item.userId, label: item.userName } })
      console.log('op', this.userOptions)
    },
    submit () {
      console.log(this.form)
    },
    postData (data) {
      this.$ajax.post('/api/work/insert', data).then((res) => {
        console.log(res)
      })
    }
  }
}
</script>

<style scoped lang="scss">
  .el_row+.el_row {
    margin-top: 20px;
  }
</style>
