<template>
  <div>
    <el-table
      :data="currentTableData1"
      style="width: 100%">
      <el-table-column
        align="center"
        prop="name"
        label="姓名"
        width="180">
      </el-table-column>
      <el-table-column
        align="center"
        prop="userId"
        label="账号">
      </el-table-column>
      <el-table-column
        align="center"
        prop="isAdmin"
        label="权限">
      </el-table-column>
      <el-table-column
        align="center"
        prop="phoneNum"
        label="联系电话">
      </el-table-column>
      <el-table-column
        prop="state"
        align="center"
        label="使用状态">
      </el-table-column>
      <el-table-column
        align="center"
        prop="group"
        label="分组">
      </el-table-column>
      <el-table-column
        align="center"
        label="操作"
        width="200px">
          <el-button
            size="mini"
            >Edit</el-button>
          <el-button
            size="mini"
            type="danger"
            >Delete</el-button>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
// import BooleanControl from '../BooleanControl'
// import BooleanControlMini from '../BooleanControlMini'
export default {
  components: {
    // BooleanControl,
    // BooleanControlMini
  },
  name: 'pageMain',
  props: {
    tableData: {
      default: () => []
    },
    loading: {
      default: false
    }
  },
  data () {
    return {
      currentTableData1: [{
        name: '张三',
        userId: 1,
        isAdmin: '是',
        phoneNum: 123456789,
        state: 1,
        group: 'DCP',
        operation: 1
      }, {
        name: '张三',
        userId: 1,
        isAdmin: '是',
        phoneNum: 123456789,
        state: 1,
        group: 'DCP',
        operation: 1
      }, {
        name: '张三',
        userId: 1,
        isAdmin: '是',
        phoneNum: 123456789,
        state: 1,
        group: 'DCP',
        operation: 1
      }, {
        name: '张三',
        userId: 1,
        isAdmin: '是',
        phoneNum: 123456789,
        state: 1,
        group: 'DCP',
        operation: 1
      }, {
        name: '张三',
        userId: 1,
        isAdmin: '是',
        phoneNum: 123456789,
        state: 1,
        group: 'DCP',
        operation: 1
      }],
      multipleSelection: [],
      downloadColumns: [
        { label: '姓名', prop: 'name' },
        { label: '账号', prop: '' },
        { label: '权限', prop: 'isAdmin' },
        { label: '联系电话', prop: 'phoneNum' },
        { label: '使用状态', prop: 'state' },
        { label: '分组', prop: 'group' },
        { label: '操作', prop: 'operation' }
      ]
    }
  },
  watch: {
    tableData: {
      handler (val) {
        this.currentTableData = val
      },
      immediate: true
    }
  },
  methods: {
    handleSwitchChange (val, index) {
      const oldValue = this.currentTableData[index]
      this.$set(this.currentTableData, index, {
        ...oldValue,
        type: val
      })
      // 注意 这里并没有把修改后的数据传递出去 如果需要的话请自行修改
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    downloadDataTranslate (data) {
      return data.map(row => ({
        ...row,
        type: row.type ? '禁用' : '正常',
        used: row.used ? '已使用' : '未使用'
      }))
    },
    handleDownloadXlsx (data) {
      this.$export.excel({
        title: 'D2Admin 表格示例',
        columns: this.downloadColumns,
        data: this.downloadDataTranslate(data)
      })
        .then(() => {
          this.$message('导出表格成功')
        })
    },
    handleDownloadCsv (data) {
      this.$export.csv({
        title: 'D2Admin 表格示例',
        columns: this.downloadColumns,
        data: this.downloadDataTranslate(data)
      })
        .then(() => {
          this.$message('导出CSV成功')
        })
    }
  }
}
</script>
